####################################
### ⚙Maven Build Artifacts ###
####################################
target/
!**/src/main/**/target/
!**/src/test/**/target/

####################################
### IntelliJ IDEA ###
####################################
.idea/
*.iml
*.ipr
*.iws

.idea/*.xml
.idea/**/dataSources/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/runConfigurations/
.idea/**/sqlliteSettings.xml
.idea/**/markdown-navigator.xml
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources.ids
.idea/**/sqlDataSources.xml

####################################
### Unit Test ###
####################################
*.log
*.tmp

####################################
### Eclipse ###
####################################
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

####################################
### 🪛 NetBeans ###
####################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

####################################
### 💻 VS Code ###
####################################
.vscode/

####################################
### macOS ###
####################################
.DS_Store

####################################
###Windows ###
####################################
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

####################################
### System
####################################
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
